<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhyxcs.xxzz.mapper.ImageStandardMapper">
  <resultMap id="BaseResultMap" type="com.zhyxcs.xxzz.domain.ImageStandard">
    <constructor>
      <idArg column="sID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sBusineesCategory" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sAccountType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sProofName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sProofAmount" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from timagestandard
    where sID = #{sid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhyxcs.xxzz.domain.ImageStandard">
    insert into timagestandard (sID, sBusineesCategory, sAccountType,
      sProofName, sProofAmount)
    values (#{sid,jdbcType=INTEGER}, #{sbusineescategory,jdbcType=VARCHAR}, #{saccounttype,jdbcType=VARCHAR},
      #{sproofname,jdbcType=VARCHAR}, #{sproofamount,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.ImageStandard">
    update timagestandard
    set sBusineesCategory = #{sbusineescategory,jdbcType=VARCHAR},
      sAccountType = #{saccounttype,jdbcType=VARCHAR},
      sProofName = #{sproofname,jdbcType=VARCHAR},
      sProofAmount = #{sproofamount,jdbcType=VARCHAR}
    where sID = #{sid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select sID, sBusineesCategory, sAccountType, sProofName, sProofAmount
    from timagestandard
    where sID = #{sid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sID, sBusineesCategory, sAccountType, sProofName, sProofAmount
    from timagestandard
  </select>
  <select id="businessCategory" resultType="java.lang.String">
    select distinct sBusineesCategory
    from timagestandard
  </select>
  <select id="accountType" resultType="java.lang.String">
    select distinct sAccountType
    from timagestandard
    where sBusineesCategory = #{businessCategory}
  </select>
  <select id="certificateType" resultType="java.util.HashMap">
    select sProofName, sProofAmount
    from timagestandard
    where sBusineesCategory = #{businessCategory} and sAccountType = #{accountType}
  </select>
</mapper>
