<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhyxcs.xxzz.mapper.ImageMapper">
  <resultMap id="BaseResultMap" type="com.zhyxcs.xxzz.domain.Image">
    <constructor>
      <idArg column="sID" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="sTransactionNum" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sImageType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sProofName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sOriginalName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sImageName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sImageSN" javaType="java.lang.Short" jdbcType="SMALLINT" />
      <arg column="sStorePath" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sUploadTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from timage
    where sID = #{sid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="sid" keyColumn="sID" parameterType="com.zhyxcs.xxzz.domain.Image">
    insert into timage (sID, sTransactionNum, sImageType,
      sProofName, sOriginalName, sImageName,
      sImageSN, sStorePath
      )
    values (#{sid,jdbcType=BIGINT}, #{stransactionnum,jdbcType=VARCHAR}, #{simagetype,jdbcType=VARCHAR},
      #{sproofname,jdbcType=VARCHAR}, #{soriginalname,jdbcType=VARCHAR}, #{simagename,jdbcType=VARCHAR},
      #{simagesn,jdbcType=SMALLINT}, #{sstorepath,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.Image">
    update timage
    set sTransactionNum = #{stransactionnum,jdbcType=VARCHAR},
      sImageType = #{simagetype,jdbcType=VARCHAR},
      sProofName = #{sproofname,jdbcType=VARCHAR},
      sOriginalName = #{soriginalname,jdbcType=VARCHAR},
      sImageName = #{simagename,jdbcType=VARCHAR},
      sImageSN = #{simagesn,jdbcType=SMALLINT},
      sStorePath = #{sstorepath,jdbcType=VARCHAR},
      sUploadTime = #{suploadtime,jdbcType=TIMESTAMP}
    where sID = #{sid,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select sID, sTransactionNum, sImageType, sProofName, sOriginalName, sImageName, sImageSN,
    sStorePath, sUploadTime
    from timage
    where sID = #{sid,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sID, sTransactionNum, sImageType, sProofName, sOriginalName, sImageName, sImageSN,
    sStorePath, sUploadTime
    from timage
  </select>
  <select id="selectImagesByTranID" resultType="com.zhyxcs.xxzz.domain.Image">
    select *
    from timage
    where sTransactionNum = #{sTransactionNum}
    order by sUploadTime
  </select>
  <select id="selectProofNameByTranID" resultType="java.lang.String">
    select distinct sProofName
    from timage
    where sTransactionNum = #{sTransactionNum}
  </select>
</mapper>
