<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhyxcs.xxzz.mapper.OrgaMapper">
    <resultMap id="BaseResultMap" type="com.zhyxcs.xxzz.domain.Orga">
        <constructor>
            <idArg column="sBankCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sBankTypeCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sBankKind" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sBankName" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sTopBankCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sPBCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sBankAreaCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sBankCityCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sBankState" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from torga
    where sBankCode = #{sbankcode,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.zhyxcs.xxzz.domain.Orga">
    insert into torga (sBankCode, sBankTypeCode, sBankKind,
      sBankName, sTopBankCode, sPBCode,
      sBankAreaCode, sBankCityCode, sBankState
      )
    values (#{sbankcode,jdbcType=VARCHAR}, #{sbanktypecode,jdbcType=VARCHAR}, #{sbankkind,jdbcType=VARCHAR},
      #{sbankname,jdbcType=VARCHAR}, #{stopbankcode,jdbcType=VARCHAR}, #{spbcode,jdbcType=VARCHAR},
      #{sbankareacode,jdbcType=VARCHAR}, #{sbankcitycode,jdbcType=VARCHAR}, #{sbankstate,jdbcType=VARCHAR}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.Orga">
    update torga
    set sBankTypeCode = #{sbanktypecode,jdbcType=VARCHAR},
      sBankKind = #{sbankkind,jdbcType=VARCHAR},
      sBankName = #{sbankname,jdbcType=VARCHAR},
      sTopBankCode = #{stopbankcode,jdbcType=VARCHAR},
      sPBCode = #{spbcode,jdbcType=VARCHAR},
      sBankAreaCode = #{sbankareacode,jdbcType=VARCHAR},
      sBankCityCode = #{sbankcitycode,jdbcType=VARCHAR},
      sBankState = #{sbankstate,jdbcType=VARCHAR}
    where sBankCode = #{sbankcode,jdbcType=VARCHAR}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select sBankCode, sBankTypeCode, sBankKind, sBankName, sTopBankCode, sPBCode, sBankAreaCode,
    sBankCityCode, sBankState
    from torga
    where sBankCode = #{sbankcode,jdbcType=VARCHAR}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select sBankCode, sBankTypeCode, sBankKind, sBankName, sTopBankCode, sPBCode, sBankAreaCode,
    sBankCityCode, sBankState
    from torga
  </select>
    <select id="selectByBankKindAndPbcCode" resultType="com.zhyxcs.xxzz.domain.Orga">
    select *
    from torga
    where sPBCode = #{pbcCode} and sBankKind = #{bankKind}
  </select>
    <select id="selectByBankTypeAndPbcCode" resultType="com.zhyxcs.xxzz.domain.Orga">
        select *
        from torga
        <trim prefix="where" prefixOverrides="and">
            <if test="pbcCode != null and pbcCode != ''">
                sPBCode = #{pbcCode,jdbcType=VARCHAR}
            </if>
            <if test="bankTypeCode != null and bankTypeCode != ''">
                and sBankTypeCode = #{bankTypeCode,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>
    <select id="getOrgaLevel" parameterType="java.lang.String" resultType="java.lang.String">
    select getorgalevel(#{bankCode})
  </select>

    <select id="getUnderBankcodeList" parameterType="java.lang.String" resultType="java.lang.String"
            statementType="CALLABLE">
      {
        call sp_getunderbankcodelist(#{bankCode,jdbcType=VARCHAR,mode=IN})
      }
  </select>

    <select id="getByFullConditions" parameterType="com.zhyxcs.xxzz.domain.Orga"
            resultType="com.zhyxcs.xxzz.domain.Orga">
        select sBankCode, sBankTypeCode, sBankKind, sBankName, sTopBankCode, sPBCode, sBankAreaCode,
        sBankCityCode, sBankState
        from torga
        <trim prefix="where" prefixOverrides="and">
            <if test="sbankcode != null and sbankcode != ''">
                sBankCode = #{sbankcode,jdbcType=VARCHAR}
            </if>
            <if test="sbanktypecode != null and sbanktypecode != ''">
                and sBankTypeCode = #{sbanktypecode,jdbcType=VARCHAR}
            </if>
            <if test="sbankkind != null and sbankkind != ''">
                and sBankKind = #{sbankkind,jdbcType=VARCHAR}
            </if>
            <if test="sbankname != null and sbankname != ''">
                and sBankName = #{sbankname,jdbcType=VARCHAR}
            </if>
            <if test="stopbankcode != null and stopbankcode != ''">
                and sTopBankCode = #{stopbankcode,jdbcType=VARCHAR}
            </if>
            <if test="spbcode != null and spbcode != ''">
                and sPBCode = #{spbcode,jdbcType=VARCHAR}
            </if>
            <if test="sbankareacode != null and sbankareacode != ''">
                and sBankAreaCode = #{sbankareacode,jdbcType=VARCHAR}
            </if>
            <if test="sbankcitycode != null and sbankcitycode != ''">
                and sBankCityCode = #{sbankcitycode,jdbcType=VARCHAR}
            </if>
            <if test="sbankstate != null and sbankstate != ''">
                and sBankState = #{sbankstate,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>

    <select id="getPBCList" resultType="com.zhyxcs.xxzz.domain.Orga">
        select sBankCode, sBankTypeCode, sBankKind, sBankName, sTopBankCode, sPBCode, sBankAreaCode,
        sBankCityCode, sBankState
        from torga where sBankKind = '0'
        <!--
        and sBankCode  <![CDATA[ <> ]]> '001551099999'
        -->
    </select>

    <select id="pageOrgaWithConditions" resultType="com.zhyxcs.xxzz.domain.Orga">
        select sBankCode, sBankTypeCode, sBankKind, sBankName, sTopBankCode, sPBCode, sBankAreaCode,
        sBankCityCode, sBankState
        from torga
        <trim prefix="where" prefixOverrides="and">
            <if test="bankAreaCode != null">
                sBankAreaCode = #{bankAreaCode,jdbcType=VARCHAR}
            </if>
            <if test="bankCityCode != null">
                and sBankCityCode = #{bankCityCode,jdbcType=VARCHAR}
            </if>
            <if test="bankKind != null">
                and sBankKind = #{bankKind,jdbcType=VARCHAR}
            </if>
            <if test="bankTypeCode != null">
                and sBankTypeCode = #{bankTypeCode,jdbcType=VARCHAR}
            </if>
            <if test="topBankCode != null">
                and sTopBankCode = #{topBankCode,jdbcType=VARCHAR}
            </if>
            <if test="pbcode != null">
                and sPBCode = #{pbcode,jdbcType=VARCHAR}
            </if>
            <if test="bankCode != null">
                and sBankCode = #{bankCode,jdbcType=VARCHAR}
            </if>
            <if test="bankName != null">
                and sBankName like CONCAT('%',#{bankName,jdbcType=VARCHAR},'%')
            </if>
            <if test="bankState != null">
                and sBankState = #{bankState,jdbcType=VARCHAR}
            </if>
        </trim>
    </select>

    <select id="calculateNextOrgaNum" resultType="int">
        select count(*) from torga where sBankState = '0'
        <choose>
            <when test="bankKindChar == '0'.toString()">
                and sPBCode = #{bankCode,jdbcType=VARCHAR}
            </when>
            <otherwise>
                and sTopBankCode = #{bankCode,jdbcType=VARCHAR}
            </otherwise>
        </choose>
    </select>

    <delete id="deleteByBankCodeArray">
        delete from torga where sBankCode in
        <foreach collection="bankCodeArray" item="item" index="index" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </delete>

    <update id="updateByPrimaryKeyCheckPropertyIsNull" parameterType="com.zhyxcs.xxzz.domain.Orga">
        update torga
        <set>
            <if test="sbanktypecode != null and sbanktypecode != ''">
                sBankTypeCode = #{sbanktypecode,jdbcType=VARCHAR},
            </if>
            <if test="sbankkind != null and sbankkind != ''">
                sBankKind = #{sbankkind,jdbcType=VARCHAR},
            </if>
            <if test="sbankname != null and sbankname != ''">
                sBankName = #{sbankname,jdbcType=VARCHAR},
            </if>
            <if test="stopbankcode != null and stopbankcode != ''">
                sTopBankCode = #{stopbankcode,jdbcType=VARCHAR},
            </if>
            <if test="spbcode != null and spbcode != ''">
                sPBCode = #{spbcode,jdbcType=VARCHAR},
            </if>
            <if test="sbankareacode != null and sbankareacode != ''">
                sBankAreaCode = #{sbankareacode,jdbcType=VARCHAR},
            </if>
            <if test="sbankcitycode != null and sbankcitycode != ''">
                sBankCityCode = #{sbankcitycode,jdbcType=VARCHAR},
            </if>
            <if test="sbankstate != null and sbankstate != ''">
                sBankState = #{sbankstate,jdbcType=VARCHAR}
            </if>
        </set>
        where sBankCode = #{sbankcode,jdbcType=VARCHAR}
    </update>
</mapper>
