<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhyxcs.xxzz.mapper.SupervisionBusinessStatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.zhyxcs.xxzz.domain.SupervisionBusinessStatistics" >
    <constructor >
      <idArg column="sID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="sTransactionNum" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sPBCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sBankAreaCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sBankCityCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sBankKind" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sBankTypeCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sBusinessCategory" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sAccountType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sPass" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sOverTime" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sErrorType" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sHappenTimes" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tsupervisionbusinessstatistics
    where sID = #{sid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhyxcs.xxzz.domain.SupervisionBusinessStatistics" >
    insert into tsupervisionbusinessstatistics (sID, sTransactionNum, sPBCode, 
      sBankAreaCode, sBankCityCode, sBankKind, 
      sBankTypeCode, sBusinessCategory, sAccountType, 
      sPass, sOverTime, sErrorType, 
      sHappenTimes)
    values (#{sid,jdbcType=BIGINT}, #{stransactionnum,jdbcType=VARCHAR}, #{spbcode,jdbcType=VARCHAR}, 
      #{sbankareacode,jdbcType=VARCHAR}, #{sbankcitycode,jdbcType=VARCHAR}, #{sbankkind,jdbcType=VARCHAR}, 
      #{sbanktypecode,jdbcType=VARCHAR}, #{sbusinesscategory,jdbcType=VARCHAR}, #{saccounttype,jdbcType=VARCHAR}, 
      #{spass,jdbcType=VARCHAR}, #{sovertime,jdbcType=VARCHAR}, #{serrortype,jdbcType=VARCHAR}, 
      #{shappentimes,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.SupervisionBusinessStatistics" >
    update tsupervisionbusinessstatistics
    set sTransactionNum = #{stransactionnum,jdbcType=VARCHAR},
      sPBCode = #{spbcode,jdbcType=VARCHAR},
      sBankAreaCode = #{sbankareacode,jdbcType=VARCHAR},
      sBankCityCode = #{sbankcitycode,jdbcType=VARCHAR},
      sBankKind = #{sbankkind,jdbcType=VARCHAR},
      sBankTypeCode = #{sbanktypecode,jdbcType=VARCHAR},
      sBusinessCategory = #{sbusinesscategory,jdbcType=VARCHAR},
      sAccountType = #{saccounttype,jdbcType=VARCHAR},
      sPass = #{spass,jdbcType=VARCHAR},
      sOverTime = #{sovertime,jdbcType=VARCHAR},
      sErrorType = #{serrortype,jdbcType=VARCHAR},
      sHappenTimes = #{shappentimes,jdbcType=TIMESTAMP}
    where sID = #{sid,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select sID, sTransactionNum, sPBCode, sBankAreaCode, sBankCityCode, sBankKind, sBankTypeCode, 
    sBusinessCategory, sAccountType, sPass, sOverTime, sErrorType, sHappenTimes
    from tsupervisionbusinessstatistics
    where sID = #{sid,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sID, sTransactionNum, sPBCode, sBankAreaCode, sBankCityCode, sBankKind, sBankTypeCode, 
    sBusinessCategory, sAccountType, sPass, sOverTime, sErrorType, sHappenTimes
    from tsupervisionbusinessstatistics
  </select>
</mapper>