<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhyxcs.xxzz.mapper.SystemLogMapper">
    <resultMap id="BaseResultMap" type="com.zhyxcs.xxzz.domain.SystemLog">
        <constructor>
            <idArg column="sID" javaType="java.lang.Long" jdbcType="BIGINT"/>
            <arg column="sUserCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sUseName" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sBankCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sBankName" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sIPAddress" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sMACAddress" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sComments" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="sLogTime" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tsystemlog
    where sID = #{sid,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.zhyxcs.xxzz.domain.SystemLog">
    insert into tsystemlog (sID, sUserCode, sUseName,
      sBankCode, sBankName, sIPAddress,
      sMACAddress, sComments
      )
    values (#{sid,jdbcType=BIGINT}, #{susercode,jdbcType=VARCHAR}, #{susename,jdbcType=VARCHAR},
      #{sbankcode,jdbcType=VARCHAR}, #{sbankname,jdbcType=VARCHAR}, #{sipaddress,jdbcType=VARCHAR},
      #{smacaddress,jdbcType=VARCHAR}, #{scomments,jdbcType=VARCHAR}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.SystemLog">
    update tsystemlog
    set sUserCode = #{susercode,jdbcType=VARCHAR},
      sUseName = #{susename,jdbcType=VARCHAR},
      sBankCode = #{sbankcode,jdbcType=VARCHAR},
      sBankName = #{sbankname,jdbcType=VARCHAR},
      sIPAddress = #{sipaddress,jdbcType=VARCHAR},
      sMACAddress = #{smacaddress,jdbcType=VARCHAR},
      sComments = #{scomments,jdbcType=VARCHAR},
      sLogTime = #{slogtime,jdbcType=TIMESTAMP}
    where sID = #{sid,jdbcType=BIGINT}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select sID, sUserCode, sUseName, sBankCode, sBankName, sIPAddress, sMACAddress, sComments,
    sLogTime
    from tsystemlog
    where sID = #{sid,jdbcType=BIGINT}
  </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select sID, sUserCode, sUseName, sBankCode, sBankName, sIPAddress, sMACAddress, sComments,
    sLogTime
    from tsystemlog
  </select>
    <select id="querySystemLogByPageWithConditions" resultMap="BaseResultMap">
        select sID, sUserCode, sUseName, sBankCode, sBankName, sIPAddress, sMACAddress, sComments,
        sLogTime
        from tsystemlog
        <trim prefix="where" prefixOverrides=" AND ">
            <if test="userCode != null">
                sUserCode = #{userCode,jdbcType=VARCHAR}
            </if>
            <if test="userName != null">
                and sUseName = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="bankCode != null">
                and sBankCode = #{bankCode,jdbcType=VARCHAR}
            </if>
            <if test="bankName != null">
                and sBankName like CONCAT('%',#{bankName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="ipAddress != null">
                and sIPAddress like CONCAT('%',#{ipAddress,jdbcType=VARCHAR} ,'%')
            </if>
            <if test="comments != null">
                and sComments like CONCAT('%',#{comments,jdbcType=VARCHAR},'%')
            </if>
            <if test="startTime != null">
                and sLogTime <![CDATA[ >= ]]> date(#{startTime,jdbcType=TIMESTAMP})
            </if>
            <if test="endTime != null">
                and sLogTime <![CDATA[ <= ]]> date(#{endTime,jdbcType=TIMESTAMP})
            </if>
        </trim>
        order by sLogTime desc
    </select>
</mapper>
