<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhyxcs.xxzz.mapper.SystemLogMapper" >
  <resultMap id="BaseResultMap" type="com.zhyxcs.xxzz.domain.SystemLog" >
    <constructor >
      <idArg column="sID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="sUserCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sUseName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sBankCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sBankName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sIPAddress" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sMACAddress" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sComments" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sLogTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tsystemlog
    where sID = #{sid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhyxcs.xxzz.domain.SystemLog" >
    insert into tsystemlog (sID, sUserCode, sUseName, 
      sBankCode, sBankName, sIPAddress, 
      sMACAddress, sComments, sLogTime
      )
    values (#{sid,jdbcType=BIGINT}, #{susercode,jdbcType=VARCHAR}, #{susename,jdbcType=VARCHAR}, 
      #{sbankcode,jdbcType=VARCHAR}, #{sbankname,jdbcType=VARCHAR}, #{sipaddress,jdbcType=VARCHAR}, 
      #{smacaddress,jdbcType=VARCHAR}, #{scomments,jdbcType=VARCHAR}, #{slogtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.SystemLog" >
    update tsystemlog
    set sUserCode = #{susercode,jdbcType=VARCHAR},
      sUseName = #{susename,jdbcType=VARCHAR},
      sBankCode = #{sbankcode,jdbcType=VARCHAR},
      sBankName = #{sbankname,jdbcType=VARCHAR},
      sIPAddress = #{sipaddress,jdbcType=VARCHAR},
      sMACAddress = #{smacaddress,jdbcType=VARCHAR},
      sComments = #{scomments,jdbcType=VARCHAR},
      sLogTime = #{slogtime,jdbcType=TIMESTAMP}
    where sID = #{sid,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select sID, sUserCode, sUseName, sBankCode, sBankName, sIPAddress, sMACAddress, sComments, 
    sLogTime
    from tsystemlog
    where sID = #{sid,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sID, sUserCode, sUseName, sBankCode, sBankName, sIPAddress, sMACAddress, sComments, 
    sLogTime
    from tsystemlog
  </select>
</mapper>