<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhyxcs.xxzz.mapper.TGroundsForReturnMapper" >
  <resultMap id="BaseResultMap" type="com.zhyxcs.xxzz.domain.TGroundsForReturn" >
    <constructor >
      <idArg column="sID" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="sGrounds" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sGroundState" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tgroundsforreturn
    where sID = #{sid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.zhyxcs.xxzz.domain.TGroundsForReturn" >
    insert into tgroundsforreturn (sID, sGrounds, sGroundState
      )
    values (#{sid,jdbcType=BIGINT}, #{sgrounds,jdbcType=VARCHAR}, #{sgroundstate,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.TGroundsForReturn" >
    update tgroundsforreturn
    set sGrounds = #{sgrounds,jdbcType=VARCHAR},
      sGroundState = #{sgroundstate,jdbcType=VARCHAR}
    where sID = #{sid,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select sID, sGrounds, sGroundState
    from tgroundsforreturn
    where sID = #{sid,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sID, sGrounds, sGroundState
    from tgroundsforreturn
  </select>
</mapper>