<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhyxcs.xxzz.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.zhyxcs.xxzz.domain.User" >
    <constructor >
      <idArg column="sUserCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sBankCode" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sUserName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sPassword" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sUserState" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sUserLevel" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sUserOnTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="sPWDError" jdbcType="TINYINT" javaType="java.lang.Byte" />
      <arg column="sTelephone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sEmail" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="sAddUserCode" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tuser
    where sUserCode = #{susercode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhyxcs.xxzz.domain.User" >
    insert into tuser (sUserCode, sBankCode, sUserName,
      sPassword, sUserState, sUserLevel, sTelephone,
      sEmail, sAddUserCode)
    values (#{susercode,jdbcType=VARCHAR}, #{sbankcode,jdbcType=VARCHAR}, #{susername,jdbcType=VARCHAR},
      #{spassword,jdbcType=VARCHAR}, #{suserstate,jdbcType=VARCHAR}, #{suserlevel,jdbcType=VARCHAR},
      #{stelephone,jdbcType=VARCHAR}, #{semail,jdbcType=VARCHAR}, #{saddusercode,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.User" >
    update tuser
    set sBankCode = #{sbankcode,jdbcType=VARCHAR},
      sUserName = #{susername,jdbcType=VARCHAR},
      sPassword = #{spassword,jdbcType=VARCHAR},
      sUserState = #{suserstate,jdbcType=VARCHAR},
      sUserLevel = #{suserlevel,jdbcType=VARCHAR},
      sUserOnTime = #{suserontime,jdbcType=TIMESTAMP},
      sPWDError = #{spwderror,jdbcType=TINYINT},
      sTelephone = #{stelephone,jdbcType=VARCHAR},
      sEmail = #{semail,jdbcType=VARCHAR},
      sAddUserCode = #{saddusercode,jdbcType=VARCHAR}
    where sUserCode = #{susercode,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select sUserCode, sBankCode, sUserName, sPassword, sUserState, sUserLevel, sUserOnTime,
    sPWDError, sTelephone, sEmail, sAddUserCode
    from tuser
    where sUserCode = #{susercode,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select sUserCode, sBankCode, sUserName, sPassword, sUserState, sUserLevel, sUserOnTime,
    sPWDError, sTelephone, sEmail, sAddUserCode
    from tuser
  </select>
  <resultMap id="selectResultMap" type="java.util.HashMap" >
      <id column="sUserCode" jdbcType="VARCHAR" property="susercode" />
      <result column="sBankCode" jdbcType="VARCHAR" property="sbankcode" />
      <result column="sUserName" jdbcType="VARCHAR" property="susername" />
      <result column="sBankName" jdbcType="VARCHAR" property="sbankname" />
      <result column="sUserState" jdbcType="VARCHAR" property="suserstate" />
      <result column="sUserLevel" jdbcType="VARCHAR" property="suserlevel" />
      <result column="sUserOnTime" jdbcType="TIMESTAMP" javaType="java.util.Date" property="suserontime" />
      <result column="sPWDError" jdbcType="TINYINT" property="spwderror" />
      <result column="sTelephone" jdbcType="VARCHAR" property="stelephone" />
      <result column="sEmail" jdbcType="VARCHAR" property="semail" />
      <result column="sAddUserCode" jdbcType="VARCHAR" property="saddusercode" />
  </resultMap>
  <select id="selectBysAddUserCode" resultMap="selectResultMap" parameterType="java.lang.String" >
    select a.sUserCode, a.sBankCode, a.sUserName, b.sBankName, a.sUserState, a.sUserLevel, a.sUserOnTime,
    a.sPWDError, a.sTelephone, a.sEmail, a.sAddUserCode
    from tuser as a, torga as b
    where a.sAddUserCode = #{addUserCode,jdbcType=VARCHAR}
    and a.sBankCode = b.sBankCode
  </select>
  <select id="selectBysAddUserCodeAndBankType" resultMap="selectResultMap" parameterType="java.lang.String" >
    select a.sUserCode, a.sBankCode, a.sUserName, b.sBankName, a.sUserState, a.sUserLevel, a.sUserOnTime,
    a.sPWDError, a.sTelephone, a.sEmail, a.sAddUserCode
    from tuser as a, torga as b
    where a.sAddUserCode = #{addUserCode,jdbcType=VARCHAR}
    and a.sBankCode = b.sBankCode and b.sBankTypeCode = #{bankTypeCode}
  </select>
  <update id="updateBasicByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.User" >
    update tuser
    set sUserName = #{susername,jdbcType=VARCHAR},
      sUserState = #{suserstate,jdbcType=VARCHAR},
      sTelephone = #{stelephone,jdbcType=VARCHAR},
      sEmail = #{semail,jdbcType=VARCHAR}
    where sUserCode = #{susercode,jdbcType=VARCHAR}
  </update>
  <select id="ifBankEntryHasBankReview" resultMap="selectResultMap" parameterType="java.lang.String">
    select *
    from tuser
    where
    sAddUserCode = #{addUserCode,jdbcType=VARCHAR}
    and
    sUserLevel = '2'
    and
    sUserState = '0'
  </select>
</mapper>
