<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhyxcs.xxzz.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.zhyxcs.xxzz.domain.User">
    <constructor>
      <idArg column="sUserCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sBankCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sPassword" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sUserState" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sUserLevel" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sUserOnTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sPWDError" javaType="java.lang.Byte" jdbcType="TINYINT" />
      <arg column="sTelephone" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sEmail" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tuser
    where sUserCode = #{susercode,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhyxcs.xxzz.domain.User">
    insert into tuser (sUserCode, sBankCode, sUserName, 
      sPassword, sUserState, sUserLevel, 
      sUserOnTime, sPWDError, sTelephone, 
      sEmail)
    values (#{susercode,jdbcType=VARCHAR}, #{sbankcode,jdbcType=VARCHAR}, #{susername,jdbcType=VARCHAR}, 
      #{spassword,jdbcType=VARCHAR}, #{suserstate,jdbcType=VARCHAR}, #{suserlevel,jdbcType=VARCHAR}, 
      #{suserontime,jdbcType=TIMESTAMP}, #{spwderror,jdbcType=TINYINT}, #{stelephone,jdbcType=VARCHAR}, 
      #{semail,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.User">
    update tuser
    set sBankCode = #{sbankcode,jdbcType=VARCHAR},
      sUserName = #{susername,jdbcType=VARCHAR},
      sPassword = #{spassword,jdbcType=VARCHAR},
      sUserState = #{suserstate,jdbcType=VARCHAR},
      sUserLevel = #{suserlevel,jdbcType=VARCHAR},
      sUserOnTime = #{suserontime,jdbcType=TIMESTAMP},
      sPWDError = #{spwderror,jdbcType=TINYINT},
      sTelephone = #{stelephone,jdbcType=VARCHAR},
      sEmail = #{semail,jdbcType=VARCHAR}
    where sUserCode = #{susercode,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select sUserCode, sBankCode, sUserName, sPassword, sUserState, sUserLevel, sUserOnTime, 
    sPWDError, sTelephone, sEmail
    from tuser
    where sUserCode = #{susercode,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sUserCode, sBankCode, sUserName, sPassword, sUserState, sUserLevel, sUserOnTime, 
    sPWDError, sTelephone, sEmail
    from tuser
  </select>
</mapper>