<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhyxcs.xxzz.mapper.WorkIndexMapper">
  <resultMap id="BaseResultMap" type="com.zhyxcs.xxzz.domain.WorkIndex">
    <constructor>
      <idArg column="sTransactionNum" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sDepositorName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sApprovalState" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sBusinessEmergency" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sCommitTimes" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sReturnTimes" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sPBCReturnTimes" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sCompleteTimes" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sUploadLicense" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sIfNeedLicence" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sBusinessCategory" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sAccountType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sBankCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sPBCBankCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sBankName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sUpUserCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sUpUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sApprovalCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sIdentifier" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sStartTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sEndTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sReviewUserCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sCheckUserCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sRecheckUserCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sRecheckUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sRecheckResult" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sRecheckOpinion" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sRecheckTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sExpireTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tworkindex
    where sTransactionNum = #{stransactionnum,jdbcType=VARCHAR};

    delete from tapprovalrecord
    where sTransactionNum = #{stransactionnum,jdbcType=VARCHAR};
  </delete>
  <insert id="insert" parameterType="com.zhyxcs.xxzz.domain.WorkIndex">
    insert into tworkindex (sTransactionNum, sDepositorName,
      sApprovalState, sBusinessEmergency, sCommitTimes,
      sReturnTimes, sPBCReturnTimes, sCompleteTimes,
      sUploadLicense, sIfNeedLicence, sBusinessCategory,
      sAccountType, sBankCode, sPBCBankCode,
      sBankName, sUpUserCode, sUpUserName,
      sApprovalCode, sIdentifier, sStartTime,
      sEndTime, sReviewUserCode, sCheckUserCode,
      sRecheckUserCode, sRecheckUserName, sRecheckResult,
      sRecheckOpinion, sRecheckTime, sExpireTime
      )
    values (#{stransactionnum,jdbcType=VARCHAR}, #{sdepositorname,jdbcType=VARCHAR},
      #{sapprovalstate,jdbcType=VARCHAR}, #{sbusinessemergency,jdbcType=VARCHAR}, #{scommittimes,jdbcType=TIMESTAMP},
      #{sreturntimes,jdbcType=TIMESTAMP}, #{spbcreturntimes,jdbcType=TIMESTAMP}, #{scompletetimes,jdbcType=TIMESTAMP},
      #{suploadlicense,jdbcType=INTEGER}, #{sifneedlicence,jdbcType=INTEGER}, #{sbusinesscategory,jdbcType=VARCHAR},
      #{saccounttype,jdbcType=VARCHAR}, #{sbankcode,jdbcType=VARCHAR}, #{spbcbankcode,jdbcType=VARCHAR},
      #{sbankname,jdbcType=VARCHAR}, #{supusercode,jdbcType=VARCHAR}, #{supusername,jdbcType=VARCHAR},
      #{sapprovalcode,jdbcType=VARCHAR}, #{sidentifier,jdbcType=VARCHAR}, #{sstarttime,jdbcType=TIMESTAMP},
      #{sendtime,jdbcType=TIMESTAMP}, #{sreviewusercode,jdbcType=VARCHAR}, #{scheckusercode,jdbcType=VARCHAR},
      #{srecheckusercode,jdbcType=VARCHAR}, #{srecheckusername,jdbcType=VARCHAR}, #{srecheckresult,jdbcType=VARCHAR},
      #{srecheckopinion,jdbcType=VARCHAR}, #{srechecktime,jdbcType=TIMESTAMP}, #{sexpiretime,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.WorkIndex">
    update tworkindex
    set sDepositorName = #{sdepositorname,jdbcType=VARCHAR},
      sApprovalState = #{sapprovalstate,jdbcType=VARCHAR},
      sBusinessEmergency = #{sbusinessemergency,jdbcType=VARCHAR},
      sCommitTimes = #{scommittimes,jdbcType=TIMESTAMP},
      sReturnTimes = #{sreturntimes,jdbcType=TIMESTAMP},
      sPBCReturnTimes = #{spbcreturntimes,jdbcType=TIMESTAMP},
      sCompleteTimes = #{scompletetimes,jdbcType=TIMESTAMP},
      sUploadLicense = #{suploadlicense,jdbcType=INTEGER},
      sIfNeedLicence = #{sifneedlicence,jdbcType=INTEGER},
      sBusinessCategory = #{sbusinesscategory,jdbcType=VARCHAR},
      sAccountType = #{saccounttype,jdbcType=VARCHAR},
      sBankCode = #{sbankcode,jdbcType=VARCHAR},
      sPBCBankCode = #{spbcbankcode,jdbcType=VARCHAR},
      sBankName = #{sbankname,jdbcType=VARCHAR},
      sUpUserCode = #{supusercode,jdbcType=VARCHAR},
      sUpUserName = #{supusername,jdbcType=VARCHAR},
      sApprovalCode = #{sapprovalcode,jdbcType=VARCHAR},
      sIdentifier = #{sidentifier,jdbcType=VARCHAR},
      sStartTime = #{sstarttime,jdbcType=TIMESTAMP},
      sEndTime = #{sendtime,jdbcType=TIMESTAMP},
      sReviewUserCode = #{sreviewusercode,jdbcType=VARCHAR},
      sCheckUserCode = #{scheckusercode,jdbcType=VARCHAR},
      sRecheckUserCode = #{srecheckusercode,jdbcType=VARCHAR},
      sRecheckUserName = #{srecheckusername,jdbcType=VARCHAR},
      sRecheckResult = #{srecheckresult,jdbcType=VARCHAR},
      sRecheckOpinion = #{srecheckopinion,jdbcType=VARCHAR},
      sRecheckTime = #{srechecktime,jdbcType=TIMESTAMP},
      sExpireTime = #{sexpiretime,jdbcType=TIMESTAMP}
    where sTransactionNum = #{stransactionnum,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select sTransactionNum, sDepositorName, sApprovalState, sBusinessEmergency, sCommitTimes,
    sReturnTimes, sPBCReturnTimes, sCompleteTimes, sUploadLicense, sIfNeedLicence, sBusinessCategory,
    sAccountType, sBankCode, sPBCBankCode, sBankName, sUpUserCode, sUpUserName, sApprovalCode,
    sIdentifier, sStartTime, sEndTime, sReviewUserCode, sCheckUserCode, sRecheckUserCode,
    sRecheckUserName, sRecheckResult, sRecheckOpinion, sRecheckTime, sExpireTime
    from tworkindex
    where sTransactionNum = #{stransactionnum,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sTransactionNum, sDepositorName, sApprovalState, sBusinessEmergency, sCommitTimes,
    sReturnTimes, sPBCReturnTimes, sCompleteTimes, sUploadLicense, sIfNeedLicence, sBusinessCategory,
    sAccountType, sBankCode, sPBCBankCode, sBankName, sUpUserCode, sUpUserName, sApprovalCode,
    sIdentifier, sStartTime, sEndTime, sReviewUserCode, sCheckUserCode, sRecheckUserCode,
    sRecheckUserName, sRecheckResult, sRecheckOpinion, sRecheckTime, sExpireTime
    from tworkindex
  </select>

    <insert id="newWorkIndex" parameterType="com.zhyxcs.xxzz.domain.WorkIndex" statementType="CALLABLE">
      {
          call generate_serial_number_by_bankcode(
           #{sbankcode, mode=IN,jdbcType=VARCHAR},
           #{sdepositorname, mode=IN,jdbcType=VARCHAR},
           #{sbusinesscategory, mode=IN,jdbcType=VARCHAR},
           #{saccounttype, mode=IN,jdbcType=VARCHAR},
           #{sbankname, mode=IN,jdbcType=VARCHAR},
           #{supusercode, mode=IN,jdbcType=VARCHAR},
           #{supusername, mode=IN,jdbcType=VARCHAR},
           #{sapprovalcode, mode=IN,jdbcType=VARCHAR},
           #{stransactionnum, mode=OUT,jdbcType=VARCHAR}
          )
      }
  </insert>
    <update id="updateDepositorNameByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.WorkIndex">
    update tworkindex
    set sDepositorName = #{sdepositorname,jdbcType=VARCHAR}
    where sTransactionNum = #{stransactionnum,jdbcType=VARCHAR}
    </update>
    <update id="updateApprovalStateNameByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.WorkIndex">
    update tworkindex
    set sApprovalState = #{workIndex.sapprovalstate,jdbcType=VARCHAR}
    <if test="action == 'commit'">
      , sEndTime = #{workIndex.sendtime, jdbcType=TIMESTAMP}
      , sBusinessEmergency = #{workIndex.sbusinessemergency,jdbcType=VARCHAR}
    </if>
    <if test="action == 'commit_ren'">
        , sEndTime = #{workIndex.sendtime, jdbcType=TIMESTAMP}
        , sCommitTimes = #{workIndex.scommittimes, jdbcType=TIMESTAMP}
        , sBusinessEmergency = #{workIndex.sbusinessemergency,jdbcType=VARCHAR}
    </if>
    <if test="action == 'review'">
      , sReviewUserCode = #{workIndex.sreviewusercode,jdbcType=VARCHAR}
      , sCommitTimes = #{workIndex.scommittimes, jdbcType=TIMESTAMP}
    </if>
    <if test="action == 'check'">
      , sCheckUserCode = #{workIndex.scheckusercode,jdbcType=VARCHAR}
    </if>
    <if test="action == 'recheck'">
      , sRecheckUserCode = #{workIndex.srecheckusercode,jdbcType=VARCHAR}
      , sRecheckUserName = #{workIndex.srecheckusername,jdbcType=VARCHAR}
      , sRecheckResult = #{workIndex.srecheckresult,jdbcType=VARCHAR}
      , sRecheckOpinion = #{workIndex.srecheckopinion,jdbcType=VARCHAR}
      , sRecheckTime = #{workIndex.srechecktime,jdbcType=TIMESTAMP}
    </if>
    <if test="action == 'send_back'">
      , sReturnTimes = #{workIndex.sreturntimes,jdbcType=TIMESTAMP}
    </if>
    <if test="action == 'send_back_ren'">
        , sPBCReturnTimes = #{workIndex.spbcreturntimes,jdbcType=TIMESTAMP}
        , sCheckUserCode = #{workIndex.scheckusercode,jdbcType=VARCHAR}
    </if>
    <if test="action == 'upload_licence'">
        , sUploadLicense = #{workIndex.suploadlicense,jdbcType=INTEGER}
    </if>
    <if test="action == 'end'">
        , sCheckUserCode = #{workIndex.scheckusercode,jdbcType=VARCHAR}
    </if>
    where sTransactionNum = #{workIndex.stransactionnum,jdbcType=VARCHAR}
    </update>
    <update id="updateWorkIndexByApprovalCodeAndIdentifier" parameterType="com.zhyxcs.xxzz.domain.WorkIndex">
    update tworkindex
    set sApprovalCode = #{sapprovalcode,jdbcType=VARCHAR}, sIdentifier = #{sidentifier, jdbcType=VARCHAR}
    , sCompleteTimes = #{scompletetimes, jdbcType=TIMESTAMP}
    <if test="suploadlicense != null">
    , sUploadLicense = #{suploadlicense,jdbcType=INTEGER}
    </if>
    <if test="srecheckresult != null">
    , sRecheckResult = #{srecheckresult, jdbcType=VARCHAR}
    </if>
    <if test="sexpiretime != null">
    , sExpireTime = #{sexpiretime, jdbcType=TIMESTAMP}
    </if>
    where sTransactionNum = #{stransactionnum,jdbcType=VARCHAR}
  </update>
    <update id="updateWorkIndexBusinessEmergency" parameterType="com.zhyxcs.xxzz.domain.WorkIndex">
    update tworkindex
    set sBusinessEmergency = #{sbusinessemergency,jdbcType=VARCHAR}
    where sTransactionNum = #{stransactionnum,jdbcType=VARCHAR}
  </update>
    <select id="queryRecordTotalNum" resultType="int">
    select count(sTransactionNum)
    from tworkindex
    where sApprovalState = #{approvalState}
      <if test="userLevel == 1">
          and sUpUserCode = #{userCode} and sBankCode = #{bankCode}
      </if>
      <if test="userLevel == 2">
          <choose>
              <when test="approvalState == 1">
                  and (sReviewUserCode = #{userCode} or sReviewUserCode is null)
              </when>
              <otherwise>
                  and sReviewUserCode = #{userCode}
              </otherwise>
          </choose>
          and sBankCode = #{bankCode}
      </if>
      <if test="userLevel == 4">
          <choose>
              <when test="approvalState == 2">
                  and (sCheckUserCode = #{userCode} or sCheckUserCode is null)
              </when>
              <otherwise>
                  and sCheckUserCode = #{userCode}
              </otherwise>
          </choose>
          <if test="approvalState == 3 or approvalState == 5">
              <choose>
                  <when test="ifUploadLicense != null">
                      and sUploadLicense != 0
                  </when>
                  <otherwise>
                      and sUploadLicense = 0
                  </otherwise>
              </choose>
              <choose>
                  <when test="ifRecheck != null">
                      and sRecheckTime is not null
                  </when>
                  <otherwise>
                      and sRecheckTime is null
                  </otherwise>
              </choose>
          </if>
          and sPBCBankCode = #{bankCode}
      </if>
      <if test="userLevel == 5">
         <choose>
             <when test="approvalState == 3 or approvalState == 5">
                 and (sReCheckUserCode = #{userCode} or sReCheckUserCode is null)
             </when>
             <otherwise>
                 and sReCheckUserCode = #{userCode}
             </otherwise>
         </choose>
          <if test="approvalState == 3 or approvalState == 5">
              <choose>
                  <when test="ifUploadLicense != null">
                      and sUploadLicense != 0
                  </when>
                  <otherwise>
                      and sUploadLicense = 0
                  </otherwise>
              </choose>
              <choose>
                  <when test="ifRecheck != null">
                      and sRecheckTime is not null
                  </when>
                  <otherwise>
                      and sRecheckTime is null
                  </otherwise>
              </choose>
          </if>
          and sPBCBankCode = #{bankCode}
      </if>

    <if test="businessEmergency != null and businessEmergency != ''">
      and sBusinessEmergency = #{businessEmergency}
    </if>
  </select>
    <select id="queryRecordByPageAndUserCodeRenEntry" resultType="com.zhyxcs.xxzz.domain.WorkIndex">
    select *
    from tworkindex
    where sApprovalState = #{approvalState}
    --     人民银行录入员
    <choose>
        <when test="approvalState == 2 or approvalState == 5">
            and (sCheckUserCode = #{userCode} or sCheckUserCode is null)
        </when>
        <otherwise>
            and (sCheckUserCode = #{userCode})
        </otherwise>
    </choose>
    <if test="businessEmergency != null and businessEmergency != ''">
      and sBusinessEmergency = #{businessEmergency}
    </if>
      and sPBCBankCode = #{pbcCode}
    <if test="approvalState == 3 or approvalState == 5">
        <choose>
            <when test="ifUploadLicense != null">
                and sUploadLicense != 0
            </when>
            <otherwise>
                and sUploadLicense = 0
            </otherwise>
        </choose>
        <choose>
            <when test="ifRecheck != null">
                and sRecheckTime is not null
            </when>
            <otherwise>
                and sRecheckTime is null
            </otherwise>
        </choose>
    </if>
    order by sEndTime
    <if test="approvalState &gt;= 3">
        desc
    </if>
    </select>
    <select id="queryRecordByPageAndUserCodeRenCharge" resultType="com.zhyxcs.xxzz.domain.WorkIndex">
    select *
    from tworkindex
    where sApprovalState = #{approvalState}
    --     人民银行复审员
    <choose>
        <when test="approvalState == 3 or approvalState == 5">
            and (sRecheckUserCode = #{userCode} or sRecheckUserCode is null)
        </when>
        <otherwise>
            and (sRecheckUserCode = #{userCode})
        </otherwise>
    </choose>
    <if test="businessEmergency != null and businessEmergency !=''">
      and sBusinessEmergency = #{businessEmergency}
    </if>
      and sPBCBankCode = #{pbcCode}
    <if test="approvalState == 3 or approvalState == 5">
        <choose>
            <when test="ifUploadLicense != null">
                and sUploadLicense != 0
            </when>
            <otherwise>
                and sUploadLicense = 0
            </otherwise>
        </choose>
        <choose>
            <when test="ifRecheck != null">
                and sRecheckTime is not null
            </when>
            <otherwise>
                and sRecheckTime is null
            </otherwise>
        </choose>
    </if>
    order by sEndTime
    <if test="approvalState &gt;= 3">
        desc
    </if>
    </select>
    <select id="queryRecordByPageAndUserCodeRenAdmin" resultType="com.zhyxcs.xxzz.domain.WorkIndex">
    select *
    from tworkindex
    where
    <if test="approvalState != null and approvalState != ''">
      sApprovalState = #{approvalState}
    </if>
    <if test="approvalState == ''">
      sApprovalState = 4 or  sApprovalState = 5 or sApprovalState = 6
    </if>
    --     人民银行超级管理员
    <if test="approvalState != null and businessEmergency != null and businessEmergency != ''">
        and
    </if>
    <if test="businessEmergency != null and businessEmergency !=''">
      sBusinessEmergency = #{businessEmergency}
    </if>
    order by sEndTime
    <if test="approvalState &gt;= 3">
        desc
    </if>
  </select>
    <select id="queryRecordByPageAndUserCodeBankEntry" resultType="com.zhyxcs.xxzz.domain.WorkIndex">
        select *
        from tworkindex
        where
        <if test="approvalState != null and approvalState != ''">
            sApprovalState = #{approvalState}
        </if>
        --     商业银行录入员
        <!--<if test="approvalState == 4">-->
            <!--(sApprovalState = #{approvalState} or sApprovalState = 5 or sApprovalState = 6)-->
        <!--</if>-->
            and (sUpUserCode = #{userCode})
        <if test="businessEmergency != null and businessEmergency != ''">
            and sBusinessEmergency = #{businessEmergency}
        </if>
        and sBankCode = #{bankCode}
        order by sEndTime
        <if test="approvalState &gt;= 3">
            desc
        </if>

    </select>
    <select id="queryRecordByPageAndUserCodeBankCharge" resultType="com.zhyxcs.xxzz.domain.WorkIndex">
        select *
        from tworkindex
        where
        <if test="approvalState != null and approvalState != '' and approvalState != 4">
            sApprovalState = #{approvalState}
        </if>
--             商业银行复核员
        <!--<if test="approvalState == 4">-->
            <!--(sApprovalState = #{approvalState} or sApprovalState = 5 or sApprovalState = 6)-->
        <!--</if>-->
        <choose>
            <when test="approvalState == 1">
                and (sReviewUserCode = #{userCode} or sReviewUserCode is null)
            </when>
            <otherwise>
                and sReviewUserCode = #{userCode}
            </otherwise>
        </choose>
        <if test="businessEmergency != null and businessEmergency != ''">
            and sBusinessEmergency = #{businessEmergency}
        </if>
        and sBankCode = #{bankCode}
        order by sEndTime
        <if test="approvalState &gt;= 3">
            desc
        </if>
    </select>
    <select id="queryRecordByConditions" resultType="com.zhyxcs.xxzz.domain.WorkIndex">
        select * from tworkindex
        where
        (sApprovalState = '3' or sApprovalState = '5')
        <if test="orgaCode != null">
            and sBankCode = #{orgaCode}
        </if>
        <if test="businessCategory != null">
            and sBusinessCategory = #{businessCategory}
        </if>
        <if test="accountType != null">
            and sAccountType = #{accountType}
        </if>
        <if test="bankEntryUserCode != null">
            and sUpUserCode = #{bankEntryUserCode}
        </if>
        <if test="bankReviewUserCode != null">
            and sReviewUserCode = #{bankReviewUserCode}
        </if>
        <if test="renEntryUserCode != null">
            and sCheckUserCode = #{renEntryUserCode}
        </if>
        <if test="renRecheckUserCode != null">
            and sReCheckUserCode = #{renRecheckUserCode}
        </if>
        <if test="transactionNum != null">
            and sTransactionNum = #{transactionNum}
        </if>
        <if test="approvalCode != null">
            and sApprovalCode = #{approvalCode}
        </if>
        <if test="startTime != null">
            and date(sEndTime) <![CDATA[ >= ]]> #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null">
            and date(sRecheckTime) <![CDATA[ >= ]]> #{endTime,jdbcType=TIMESTAMP}
        </if>
        <if test="currentBankArea != null || currentCity != null || bankKind != null || bankType != null">
            and sBankCode in
            (select sBankCode from torga
              where
            <if test="currentBankArea != null">
                sBankAreaCode = #{currentBankArea}
            </if>
            <if test="currentBankArea != null and currentCity != null">
                and
            </if>
            <if test="currentCity != null">
                sBankCityCode = #{currentCity}
            </if>
            <if test="(currentBankArea != null || currentCity != null) and bankType != null">
                and
            </if>
            <if test="bankType != null">
                sBankTypeCode = #{bankType}
            </if>
            <if test="(currentBankArea != null || currentCity != null || bankType != null) and bankKind != null">
                and
            </if>
            <if test="bankKind != null">
                sBankKind = #{bankKind}
            </if>
            )
        </if>
    </select>

    <select id="calculateWorksByBankCode" resultType="int">
        select count(*) from tworkindex where
        <choose>
            <when test="bankKindChar == '0'.toString()">
                sPBCBankCode = #{bankCode,jdbcType=VARCHAR}
            </when>
            <otherwise>
                sBankCode = #{bankCode,jdbcType=VARCHAR}
            </otherwise>
        </choose>
    </select>

    <select id="queryDiary" resultType="com.zhyxcs.xxzz.domain.WorkIndex">
        select * from tworkindex where (sApprovalCode is not null or sApprovalCode !='')
         and sPBCBankCode = #{pbcBankCode,jdbcType=VARCHAR}
         and date(sCompleteTimes) = #{completeTimes,jdbcType=DATE}
         order by sTransactionNum
    </select>
</mapper>
