<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhyxcs.xxzz.mapper.WorkIndexMapper">
  <resultMap id="BaseResultMap" type="com.zhyxcs.xxzz.domain.WorkIndex">
    <constructor>
      <idArg column="sTransactionNum" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sDepositorName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sApprovalState" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sBusinessEmergency" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sReturnTimes" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sBusinessCategory" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sAccountType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sBankCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sBankName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sUpUserCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sUpUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sApprovalCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sIdentifier" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sStartTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sEndTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="sReviewUserCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sCheckUserCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sRecheckUserCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sRecheckUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sRecheckResult" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sRecheckOpinion" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sRecheckTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tworkindex
    where sTransactionNum = #{stransactionnum,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zhyxcs.xxzz.domain.WorkIndex">
    insert into tworkindex (sTransactionNum, sDepositorName,
      sApprovalState, sBusinessEmergency, sReturnTimes,
      sBusinessCategory, sAccountType, sBankCode,
      sBankName, sUpUserCode, sUpUserName,
      sApprovalCode, sIdentifier, sStartTime,
      sEndTime, sReviewUserCode, sCheckUserCode,
      sRecheckUserCode, sRecheckUserName, sRecheckResult,
      sRecheckOpinion, sRecheckTime)
    values (#{stransactionnum,jdbcType=VARCHAR}, #{sdepositorname,jdbcType=VARCHAR},
      #{sapprovalstate,jdbcType=VARCHAR}, #{sbusinessemergency,jdbcType=VARCHAR}, #{sreturntimes,jdbcType=INTEGER},
      #{sbusinesscategory,jdbcType=VARCHAR}, #{saccounttype,jdbcType=VARCHAR}, #{sbankcode,jdbcType=VARCHAR},
      #{sbankname,jdbcType=VARCHAR}, #{supusercode,jdbcType=VARCHAR}, #{supusername,jdbcType=VARCHAR},
      #{sapprovalcode,jdbcType=VARCHAR}, #{sidentifier,jdbcType=VARCHAR}, #{sstarttime,jdbcType=TIMESTAMP},
      #{sendtime,jdbcType=TIMESTAMP}, #{sreviewusercode,jdbcType=VARCHAR}, #{scheckusercode,jdbcType=VARCHAR},
      #{srecheckusercode,jdbcType=VARCHAR}, #{srecheckusername,jdbcType=VARCHAR}, #{srecheckresult,jdbcType=VARCHAR},
      #{srecheckopinion,jdbcType=VARCHAR}, #{srechecktime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.WorkIndex">
    update tworkindex
    set sDepositorName = #{sdepositorname,jdbcType=VARCHAR},
      sApprovalState = #{sapprovalstate,jdbcType=VARCHAR},
      sBusinessEmergency = #{sbusinessemergency,jdbcType=VARCHAR},
      sReturnTimes = #{sreturntimes,jdbcType=INTEGER},
      sBusinessCategory = #{sbusinesscategory,jdbcType=VARCHAR},
      sAccountType = #{saccounttype,jdbcType=VARCHAR},
      sBankCode = #{sbankcode,jdbcType=VARCHAR},
      sBankName = #{sbankname,jdbcType=VARCHAR},
      sUpUserCode = #{supusercode,jdbcType=VARCHAR},
      sUpUserName = #{supusername,jdbcType=VARCHAR},
      sApprovalCode = #{sapprovalcode,jdbcType=VARCHAR},
      sIdentifier = #{sidentifier,jdbcType=VARCHAR},
      sStartTime = #{sstarttime,jdbcType=TIMESTAMP},
      sEndTime = #{sendtime,jdbcType=TIMESTAMP},
      sReviewUserCode = #{sreviewusercode,jdbcType=VARCHAR},
      sCheckUserCode = #{scheckusercode,jdbcType=VARCHAR},
      sRecheckUserCode = #{srecheckusercode,jdbcType=VARCHAR},
      sRecheckUserName = #{srecheckusername,jdbcType=VARCHAR},
      sRecheckResult = #{srecheckresult,jdbcType=VARCHAR},
      sRecheckOpinion = #{srecheckopinion,jdbcType=VARCHAR},
      sRecheckTime = #{srechecktime,jdbcType=TIMESTAMP}
    where sTransactionNum = #{stransactionnum,jdbcType=VARCHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select sTransactionNum, sDepositorName, sApprovalState, sBusinessEmergency, sReturnTimes,
    sBusinessCategory, sAccountType, sBankCode, sBankName, sUpUserCode, sUpUserName,
    sApprovalCode, sIdentifier, sStartTime, sEndTime, sReviewUserCode, sCheckUserCode,
    sRecheckUserCode, sRecheckUserName, sRecheckResult, sRecheckOpinion, sRecheckTime
    from tworkindex
    where sTransactionNum = #{stransactionnum,jdbcType=VARCHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select sTransactionNum, sDepositorName, sApprovalState, sBusinessEmergency, sReturnTimes,
    sBusinessCategory, sAccountType, sBankCode, sBankName, sUpUserCode, sUpUserName,
    sApprovalCode, sIdentifier, sStartTime, sEndTime, sReviewUserCode, sCheckUserCode,
    sRecheckUserCode, sRecheckUserName, sRecheckResult, sRecheckOpinion, sRecheckTime
    from tworkindex
  </select>

  <insert id="newWorkIndex" parameterType="com.zhyxcs.xxzz.domain.WorkIndex" statementType="CALLABLE">
      {
          call generate_serial_number_by_bankcode(
           #{sbankcode, mode=IN,jdbcType=VARCHAR},
           #{sdepositorname, mode=IN,jdbcType=VARCHAR},
           #{sbusinesscategory, mode=IN,jdbcType=VARCHAR},
           #{saccounttype, mode=IN,jdbcType=VARCHAR},
           #{sbankname, mode=IN,jdbcType=VARCHAR},
           #{supusercode, mode=IN,jdbcType=VARCHAR},
           #{supusername, mode=IN,jdbcType=VARCHAR},
           #{stransactionnum, mode=OUT,jdbcType=VARCHAR}
          )
      }
  </insert>

  <update id="updateDepositorNameByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.WorkIndex">
    update tworkindex
    set sDepositorName = #{sdepositorname,jdbcType=VARCHAR}
    where sTransactionNum = #{stransactionnum,jdbcType=VARCHAR}
  </update>
  <update id="updateApprovalStateNameByPrimaryKey" parameterType="com.zhyxcs.xxzz.domain.WorkIndex">
    update tworkindex
    set sApprovalState = #{workIndex.sapprovalstate,jdbcType=VARCHAR}
    <if test="action == 'review'">
      , sReviewUserCode = #{workIndex.sreviewusercode,jdbcType=VARCHAR}
    </if>
    <if test="action == 'check'">
      , sCheckUserCode = #{workIndex.scheckusercode,jdbcType=VARCHAR}
      , sEndTime = #{workIndex.sendtime, jdbcType=TIMESTAMP}
    </if>
    <if test="action == 'recheck'">
      , sRecheckUserCode = #{workIndex.srecheckusercode,jdbcType=VARCHAR}
      , sRecheckUserName = #{workIndex.srecheckusername,jdbcType=VARCHAR}
      , sRecheckResult = #{workIndex.srecheckresult,jdbcType=VARCHAR}
      , sRecheckOpinion = #{workIndex.srecheckopinion,jdbcType=VARCHAR}
      , sRecheckTime = #{workIndex.srechecktime,jdbcType=TIMESTAMP}
    </if>
    where sTransactionNum = #{workIndex.stransactionnum,jdbcType=VARCHAR}
  </update>
  <update id="updateWorkIndexByApprovalCodeAndIdentifier" parameterType="com.zhyxcs.xxzz.domain.WorkIndex">
    update tworkindex
    set sApprovalCode = #{sapprovalcode,jdbcType=VARCHAR}, sIdentifier = #{sidentifier, jdbcType=VARCHAR}
    where sTransactionNum = #{stransactionnum,jdbcType=VARCHAR}
  </update>
  <select id="queryRecordTotalNum" resultType="int">
    select count(sTransactionNum)
    from tworkindex
    where sUpUserCode = #{userCode} and sApprovalState = #{approvalState}
    <if test="businessEmergency != null">
      and sBusinessEmergency = #{businessEmergency}
    </if>
  </select>
  <select id="queryRecordByPageAndUserCode" resultType="com.zhyxcs.xxzz.domain.WorkIndex">
    select *
    from tworkindex
    where sUpUserCode = #{userCode} and sApprovalState = #{approvalState}
    <if test="approvalState == 2 and userLevel == 1">
      and sReviewUserCode is null
    </if>
    <if test="businessEmergency != null">
      and sBusinessEmergency = #{businessEmergency}
    </if>
    order by sStartTime
    limit ${currentPage}, ${pageSize}
  </select>
</mapper>
